<!-- Обратите внимание на атрибут action -->
<form action="/form_handler" method="POST">
    <label>Автор:
        <input type="text" name="AU" />
    </label><br>
    <label>Название:
        <input type="text" name="TI" />
    </label><br>
    <!-- Другие поля добавляются аналогично -->
    <input type="submit" value="Send" />
</form>